
@{
    ViewBag.Title = "Index";
}

<div>
    <canvas id="demo"></canvas>
</div>
@Html.Hidden("GetChartConfigUrl", Url.Action("GetChartConfig"))

@section scripts{
    <script src="~/Scripts/momentjs/moment.min.js"></script>
    <script src="~/Scripts/chartjs/Chart.min.js"></script>
    <script src="~/Scripts/view/linechart.index.js"></script>
}
